[Unit]
Description=Verify OI Manager asset restore every week

[Timer]
OnCalendar=Sun *-*-* 04:30:00
AccuracySec=2min
RandomizedDelaySec=2min
Persistent=true
Unit=oi-manager-operations@verify-assets.service

[Install]
WantedBy=timers.target
